@tailwind base;
@tailwind components;
@tailwind utilities;

.tabledata {
  @apply px-2 py-1 border text-indigo-500 font-mono;
}
.registereddata {
  @apply px-2 py-1 border;
}
.uniquifier {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
